{% extends "appRestaurant/base.html" %}

{% load static %}

{%block content %}

    <section class="flayer-principal">
        <div>
            <img src="{%static 'appRestaurant/assets/img/principalflayer.jpg' %}" alt="">
        </div>
    </section>
    <section class="container" style="padding-top: 20px; padding-bottom: 50px;" >

        <div>
            <h4 style="text-align: center; padding-bottom: 50px;">POLLOS A LA BRASA</h4>
        </div>

        <div style="display: flex; flex-flow: row wrap; justify-content: space-around;">
                
            
            {% for a in producto %}
                <a href="{%url 'menupollocuarto' %}" class="ms-item-container">
                    <div class="card-product">
                        <img src="{{a.imagen.url}}" alt="#" height="300px">
                        <p>{{a.nombre}}</p>
                    </div>      
                </a>
            {% endfor %}

    </section>

{% endblock %}